<footer>
    &copy; {{ 'now' | date('Y') }} - Pit-Wall
    <a href="{{ path('pagina_estatica', { 'pagina': 'ayuda' }) }}">Ayuda</a>
    <a href="{{ path('pagina_estatica', { 'pagina': 'contacto' }) }}">Contacto</a>
    <a href="{{ path('pagina_estatica', { 'pagina': 'privacidad' }) }}">Privacidad</a>
    <a href="{{ path('pagina_estatica', { 'pagina': 'about' }) }}">Sobre nosotros</a>
</footer>